<ion-content>

  <ion-radio-group value="strawberries">
    <ion-list-header>Radio button</ion-list-header>
    <ion-item>
      <ion-label>Opção1</ion-label>
   <ion-radio color="danger" checked="true"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Opção2</ion-label>
   <ion-radio color="dark" desabled="false"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Opção3</ion-label>
   <ion-radio color="secondary" desabled="false"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-content>